@font-face {
    font-family: counterfont;
    src: url("counterfont.ttf");
}

body {
    margin: 0;
    text-align: center;
    background-color: #1B244A;
}

h1,h2,h3,h4,p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.display-container {
    flex-direction: column;
    width: 40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 30px;
}

.player-name {
    margin-bottom: 10px;
}

.count-display {
    width: 155px;
    height: 120px;
    margin: 0 auto 30px auto;
    border-radius: 5px;
    background: #080001;
}

.displayed-count {
    color: #F94F6D;
    font-size: 90px;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: counterfont;
    font-weight: 400;
    
}

.btn-container {
    width: 155px;
    height: 45px;
    margin: 0 auto 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: none;
    color: #9AABD8;
    font-family: counterfont;
    font-size: 16px;
    padding: 10px;
    font-weight: 400;
    margin: auto;
}

.hl {
    border: 1px solid black;
}

.hld {
    border: 1px solid white;
}